@import 'variables';

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
}

.scores {
  display: flex;
}

.player {
    margin: 0 5px;
    
    &__bank {
      border-width: 1px;
      border-style: solid;
      padding: 10px 15px;
    }
    
    &--1 {
      border-color: $purple;
      color: $purple;
    }
    
    &--2 {
      border-color: $green;
      color: $green;
    }
    
    &--3 {
      border-color: $red;
      color: $red;
    }
}

